<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" href="../public/img/icon_bus.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/dashboard.css">

    <title>GoBus</title>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
      <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <a href="#" class="navbar-brand">
                <span class="home"><strong>Go</strong></span>
                <img src="../public/img/icon_bus.ico" height="50px" width="50px">
                <span class="home"><strong>Bus</strong></span>
              </a>
        </div>
        

      </div>
    </nav>

    <!-- dashboard -->

    <div class="container-fluid">
      <div class="row">
        <main class="col-xs-12 col-sm-12 col-md-10 col-lg-9 col-xl-9 bg-light mh-100 p-5">
          <div id="perfilEmpresa" class="container">
            <div class="col align-self-center">
                <div class="row">
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span>Horario de salida</span>
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span>Horario de llegada</span>
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div> -->
                </div>
                <div class="row mt-3" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="comprar-boleto">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Empresa</th>
                                <th scope="col">Lugar origen</th>
                                <th scope="col">Lugar destino</th>
                                <th scope="col">Hora</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody >
                                
                            </tbody>
                          </table>
                        
                    </div>
                </div>
            </div>
          </div>
        </main>
    </div>
    <main>
        <footer class="container">
            <p class="float-right"><a class="carrruseltext" href="#">Back to top</a></p>
            <p>&copy; 2017-2018 Go Bus. &middot; <a class="carrruseltext" href="#">Privacy</a> &middot; <a class="carrruseltext" href="#">Terms</a></p>
        </footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/controlador.js"></script>
  </body>
</html>