<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/icon" href="../public/img/logo.ico" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Go Bus</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/normalize-card.min.css" type="text/css" rel="stylesheet">
    <link href="../public/css/principal2.css" rel="stylesheet">
    <link href="../public/css/estilos.css" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark1 fixed-top">
        <div class="col-xl-2 col-lg-2 col-xs-8 col-sm-8">
        </div>
        <a href="#" class="navbar-brand">
            <span class="home"><strong>Go</strong></span>
            <!-- <img src="../public/img/icon_bus.ico" height="50px" width="50px"> -->
            <span class="home"><strong>Bus</strong></span>
        </a>
    </nav>
    <div>
        <div>
            <div class="radSimpleContainer">
                <div class="centerContainer contextStep firstLoad">
                    <div class="paymentContainer">
                        <div class="messageContainer">
                        </div>
                        <div>
                            <span class="stepLogo paymentStepLogo">
                                <img src="../public/img/Lock.png">
                            </span><br>
                        </div>
                        <div class="stepHeader">
                            <h1 class="stepTitle">Selecciona tu forma de pago.</h1>
                        </div>
                        <div class="narrowContainer">
                            <div class="contextRow contextRowFirst">
                                Cancela antes del <b><span id="txt-fecha">30</span> y no se te cobrará ningún cargo, hasta que finalice tu periodo de prueba.</b>
                            </div>
                            <div class="contextRow">
                                Como recordatorio, <b>te enviaremos un email 5 días antes.</b>
                            </div>
                            <div class="contextRow">
                                <div>
                                    <b>Sin compromisos.&nbsp; &nbsp; </b>
                                    <br>
                                    <b>Cancela online en cualquier momento.</b>
                                </div>
                            </div>
                        </div>
                        <label class="ui-tab-radio ui-tab-radio--active paymentPicker standardHeight"  data-toggle="modal" data-target="#modal2" > <!-- id="Tajeta1"-->
                            <div class="mopNameAndLogos"> 
                                <span class="ui-tab-radio--text card-type-text paymentActive" >Tarjeta de crédito o débito</span>
                                <div class="logosContainer" >
                                    <span class="logos logos-inline" >
                                        <span class="logoIcon VISA"><img src="../public/img/ico_visa.png"></span>
                                        <span class="logoIcon MASTERCARD"><img src="../public/img/ico_master.png"></span>
                                        <span class="logoIcon AMEX"><img src="../public/img/icon_amex.png"></span>
                                        <span class="logoIcon DISCOVERY"><img src="../public/img/icon_discovery.png"></span>
                                    </span>
                                </div>
                            </div>
                            <span class="ui-svg-icon ui-svg-icon--chevron pull-right pickerArrow">
                            <img src="../public/img/chevron.svg" width="40" height="25" > </span>
                        </label>
                        <label class="ui-tab-radio ui-tab-radio--active paymentPicker standardHeight" data-toggle="modal" data-target="#modal2 " id="tarjet2"><!-- -->
                            <div class="mopNameAndLogos" >
                                <span class="ui-tab-radio--text card-type-text paymentActive" >PayPal</span>
                                <div class="logosContainer">
                                    <span class="logos logos-inline">
                                    <span class="logoIcon PAYPAL">
                                        <img src="../public/img/paypal.png" width="70" height="20">
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <span class="ui-svg-icon ui-svg-icon--chevron pull-right pickerArrow">
                            <img src="../public/img/chevron.svg" width="40" height="25" > </span>
                        </label>
                    </div>
                </div>
            </div> 
        </div>
    </div>
<!--modal -->
<!-- otro modal-->
    <div class="modal" id="modal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div  class="modal-header">
              <h5 class="modal-title"><strong>Informacion de pago</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="paymentFormContainer">
                            <div class="messageContainer">
                            </div>
                            <div class="stepHeader">
                                <h1 class="stepTitle">Configura tu tarjeta de crédito o débito</h1>
                            </div>
                            <div class="fieldContainer">
                                <div class="">
                                    <span class="logos logos-block">
                                        <span class="logoIcon VISA"><img src="../public/img/ico_visa.png"></span>
                                        <span class="logoIcon MASTERCARD"><img src="../public/img/ico_master.png"></span>
                                        <span class="logoIcon AMEX"><img src="../public/img/icon_amex.png"></span>
                                        <span class="logoIcon DISCOVERY"><img src="../public/img/icon_discovery.png"></span>
                                        <span><img src="../public/img/tail_red.gif" style=" width: 25px; height: 25px;"></span>
                                    </span>
                                </div>
                                <div class="radForm">
                                    <label class="floating-label unfocused firstName ui-label ui-input-label">
                                        <input data-testid="firstName" placeholder="Nombre" class="ui-text-input medium" id="ipt-nombre" >
                                    </label>
                                    <label class="floating-label unfocused lastName ui-label ui-input-label">
                                        <input data-testid="lastName" placeholder="Apellidos" class="ui-text-input medium" id="ipt-apellido">
                                    </label>
                                    <div class="cardNumberContainer">
                                        <label class="floating-label unfocused creditCardNumber ui-label ui-input-label">
                                            <input type="tel" placeholder="Número de tarjeta" class="ui-text-input medium" id="ipt-numTarjet" >
                                        </label>
                                    </div>
                                    <label class="floating-label unfocused creditExpirationMonth ui-label ui-input-label">
                                        <input type="tel" class="ui-text-input medium" placeholder="Fecha de vencimiento (MM/AA)" value="" id="ipt-fechaV">
                                    </label>
                                    <label class="floating-label unfocused creditCardSecurityCode ui-label ui-input-label">
                                        <input type="tel" data-testid="creditCardSecurityCode" class="ui-text-input medium" placeholder="Código de seguridad (CVV)" id="ipt-codigoV">
                                    </label>
                                </div>
                                <div class="changePlanContainer">
                                    <div class="changePlanTitle">TU PLAN</div>
                                    <div class="planDesc" id="info-plan"></div>
                        
                                </div>
                                <div class="radForm">
                                    <div class="signupTerms" id="inicio-gratis">
                                        <span>
                                            <p>Al hacer click en el botón "Iniciar suscripción" a continuación, aceptas nuestros<a target="blank" href="">Términos de uso</a>, nuestra <a target="blank" href="">Declaración de privacidad</a> y que ya has cumplido los 18. Puedes cancelar la suscripción cuando quieras durante la prueba gratuita y no se te cobrará nada. Para cancelarla, ve a la página web de tu cuenta y haz clic en "Cancelar suscripción".</p>
                                            <p>
                                            <b>Si no la cancelas, cuando termine tu periodo gratuito de prueba Gafe editor dará por hecho automáticamente que tu suscripción sigue en vigor y te cobrará la tarifa correspondiente (tarifa actual <span id="tarifa"></span>) a través de tu forma de pago cada mes.</b> No recibirás reembolsos ni créditos por los meses parciales.</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class=" modal-footer">
                <input class=" form-control btn-red btn-large" type="button" onclick="location.href='principal.html'" value="Iniciar Suscripcion">
            </div>
          </div>
        </div>
    </div>
    <main>
        <footer class="container">
            <p class="float-right"><a class="carrruseltext" href="#">Back to top</a></p>
            <p>&copy; 2017-2018 Go Bus. &middot; <a class="carrruseltext" href="#">Privacy</a> &middot; <a class="carrruseltext" href="#">Terms</a></p>
        </footer>
    </main>
    
    <script type="text/javascript" src="../public/js/jquery.min.js" ></script>
    <script type="text/javascript" src="../public/js/bootstrap.min.js" ></script>
    <script type="text/javascript">
                  
            $(document).ready(function(){
                cargardatos();
            });
    </script>
</body>
</html>
